.window {
    background-color: white;
    position: absolute;
    display: none;
    height: 500px;
    width: 400px;
    z-index: 1;
}

.dock_width {
    width: min(70%, 450px);
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3ff3A6;
    font-size: 20px;
    height: 25px;
    width: 100%;
}

.windowButtonCluster {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.hide {
    background: transparent;
    padding: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.maximize {
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 2px;
    border: 2px solid black;
    font-size: inherit;
    cursor: pointer;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}
