.window {
    background-color: white;
    position: absolute;
    display: none;
    filter: drop-shadow(-5px -5px 1px #00000030);
    height: 500px;
    width: 1000px;
    z-index: 1;
}

.dock_width {
    width: min(70%, 450px);
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3ff3A6;
    text-align: center;
    font-size: 20px;
    height: 25px;
    width: 100%;
}

.titleBarSpacer {
    width: 5%;
}


.windowButtonCluster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.hide {
    background: transparent;
    padding: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

.maximize {
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 2px;
    border: 2px solid black;
    font-size: inherit;
    cursor: pointer;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.documentBody {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
