body {
    background-color: #33B3A6;
}

#desktop {
    background-color: yellow;
    height: 90vh;
    width: 100%;
}

#window {
    background-color: #33B3A6;
    position: absolute;
    height: 75px;
    width: 150px;
}

#dock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 100%;
    border: 4px;
}

#base-display {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

#dock-base {
    height: 50%;
    background-color: blue;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

#applications {
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-around;
    z-index: 1;

}

.dock_width {
    width: min(70%, 450px);
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


// .fixed {
//     position: fixed;
