
#mydiv {
    display: none;
    top: 25%;
    left: 25%;
    width: 1000px;
    height: 500px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 3px solid #000000;
    text-align: center;
}

/*
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
 */
